@use "./abstract/colors";
@use "./abstract/vars";

body{
    padding: map-get(vars.$vhCalc, "paddingOfBody");
    padding-bottom: 0;
    font-family: vars.$font-family;
    background: map-get(colors.$baseColors, "linear-gradient1");
    min-height: 100vh;
}